.wrapper{
  background-color: goldenrod;
  width: 40%;
  padding:10px;
  margin: auto;
  margin-top: 100px;
  display:flex;
  flex-direction: column;
  color: white;
  border-radius:10px
  
  
}
.password-box{
  text-align: center;
}
.wrapper-box{
  display: flex;
  flex-direction: column;
}
.word-criteria__box{
  display: flex;
  margin: auto;
  padding: 5px;
  
}

.btn-generator,.copy-button{
  background-color: black;
  border-radius:10px;
  color: white;
  padding: 5px;
 
  border:none;}
